// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
html {
  scroll-behavior: smooth;
}
/* Padding below the footer and lighter body text */

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.825rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f9fc;
  color: #6c757d;
  line-height: 1.625rem;
}
.login-box,
.signup-box,
.resetPwd-box {
  max-width: 1200px;
}
.sub-title {
  font-size: 1.03125rem;
}

.btn-primary {
  font-size: 0.825rem;
  background-color: #3f80ea;
  border-color: #3f80ea;
  color: #fff;
}
.btn-primary:focus,
.btn-primary:hover {
  background-color: #366dc7;
  border-color: #3266bb;
  color: #fff;
}
.btn-secondary {
  font-size: 0.825rem;
  background-color: #495057;
  border-color: #495057;
  color: #fff;
}
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #3e444a;
  border-color: #3a4046;
  color: #fff;
}
.btn-navbar:hover,
.btn-login:hover,
.btn-singup:hover,
.btn-reset:hover {
  text-decoration: none;
}
a {
  color: #3f80ea;
  text-decoration: none;
}
a:hover {
  color: #3f80ea;
  text-decoration: underline;
}
.imgLogin {
  height: 132px;
  width: 132px;
  border-radius: 50%;
}
.btn-login,
.btn-singup,
.btn-reset {
  font-size: 0.95rem;
  border-radius: 0.3rem;
  padding: 0.35rem 1rem;
}
.form-control {
  border-radius: 0.3rem;
  font-size: 0.95rem;
  padding: 0.35rem 1rem;
}
.login-links {
  font-size: 80%;
  line-height: 1.625rem;
  a {
    color: #3f80ea;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
h1 {
  font-size: 1.44375rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #495057;
}
.login-title,
.signup-title,
.resetPwd-title {
  p {
    margin-bottom: 0.5rem;
  }
  p:last-child {
    margin-bottom: 1rem;
  }
  a {
    color: #3f80ea;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
.card {
  border: 0 solid transparent;
  box-shadow: 0 0 0.875rem 0 #2930420d;
  margin-bottom: 24px;
}

.l-side {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #293042;
  width: 260px;
  .logo {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 24px;
    text-align: center;
    text-decoration: none;
    img {
      height: 24px;
      width: 24px;
      margin-right: 2px;
    }
  }
}
.sidebar-nav {
  list-style: none;
  padding-left: 0px;
  .sidebar-title {
    padding: 24px 24px 6px;
    font-size: 12px;
    color: #ced4da;
    background: transparent;
  }
  .sidebar-item {
    .active {
      color: #e9ecefbf;
    }
  }
  .sidebar-link {
    padding: 10px 26px;
    display: block;
    color: #e9ecef80;
    text-decoration: none;
  }
  .sidebar-link:hover {
    color: #e9ecefbf;
  }
  .icons {
    margin-right: 12px;
    font-size: 18px;
  }
}
.r-side {
  padding-left: 260px;
  background: #f7f9fc;
  .content {
    min-height: calc(100vh - 124px);
    direction: ltr;
    flex: 1;
    padding: 24px;
  }
  .card-title {
    color: #495057;
    font-size: 0.95rem;
    font-weight: 500;
    margin-top: 7px;
  }
  h1 {
    background: #fff;
    font-size: 24px;
  }
  .table {
    background: #fff;
  }
  #bar-main,
  #pie-main {
    background: #fff;
  }
  .page-link {
    border: 1px solid #dee6ed;
    color: #6c757d;
  }
  .page-link:hover {
    background-color: #e2e8ee;
    border-color: #dee6ed;
    color: #020202;
    text-decoration: none;
    z-index: 2;
  }
}
.modal-header {
  border: transparent;
  h5 {
    font-size: 0.95rem;
  }
}

.navbar {
  padding: 14px 20px;
  background: #fff;
  border-bottom: 0;
  box-shadow: 0 0 24px 0 #2930421a;
  justify-content: flex-start;
  align-content: center;
  height: 65px;
  padding-top: 26px;

  .sidebar-toogle {
    cursor: pointer;
    display: flex;
    height: 26px;
    width: 26px;
    margin-top: -14px;
    .a:hover {
      color: #3f80ea;
    }
    .hamburger {
      position: relative;
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
      background: #495057;
      border-radius: 1px;
      content: "";
      cursor: pointer;
      display: block;
      height: 3px;
      transition: 0.1s ease-in-out, color 0.1s ease-in-out;
      width: 24px;
    }
    .hamburger::before {
      position: absolute;
      top: -8px;
      width: 20px;
    }
    .hamburger::after {
      position: absolute;
      bottom: -8px;
      width: 16px;
    }
  }
  .search-box {
    padding-top: 4px;
    .input-group {
      min-width: 240px;
      background: #f3f6fb;
      .search {
        border: none;
        background: #f3f6fb;
        font-size: 0.825rem;
      }
    }
    .input-group:focus,
    .btn:focus {
      border: 0;
    }
  }
  .dropdown {
    margin-left: auto;
    margin-top: -8px;
    .user-img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-left: auto;
    }
    .userName {
      color: #293042;
      font-size: 13px;
      display: none;
    }
  }
  .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    margin-top: auto;
  }
  .dropdown-item {
    font-size: 0.825rem;
    color: #495057;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: #f4f7f9;
    color: #1e2125;
    text-decoration: none;
  }
}
.feather {
  height: 18px;
  width: 18px;
}

.table {
  border-color: #dee6ed;
  .tb-header {
    background-color: #fff;
    color: #6c757d;
  }
}

.table-action {
  font-size: 18px;
  a {
    color: #6c757d;
  }
  i {
    color: #6c757d;
  }
}
.table tbody tr td {
  vertical-align: middle;
}
.table {
  color: #6c757d;
  thead,
  tbody {
    tr {
      th,
      td {
        vertical-align: middle;
        padding: 10px 14px;
      }
      .field-hide {
        display: none;
      }
    }
  }
}
.table {
  .odd {
    background-color: #f4f7f9;
    color: #6c757d;
  }
}
.card-head,
.card-body,
.card-footer {
  background: #fff;
  border: none;
}
.footer {
  background: #fff;
  border-top: 1px solid #dee6ed;
  padding: 1rem 0.75rem;
  ul {
    margin-bottom: 0;
  }
}
.list-nostyle {
  list-style: none;
  padding-left: 0;
}
.list-nostyle-item {
  display: inline-block;
}
.list-nostyle-item:not(:last-child) {
  margin-right: 0.5rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 993px) {
  .l-side {
    display: none;
  }
  .r-side {
    padding-left: 0;
    .search-box {
      display: none;
    }
  }
}

@media (min-width: 769px) {
  .table {
    color: #6c757d;
    thead,
    tbody {
      tr {
        th,
        td {
          vertical-align: middle;
          padding: 12px 20px;
        }
      }
    }
  }
}
@media (min-width: 993px) {
  .navbar {
    .dropdown {
      .userName {
        display: inline-block;
      }
    }
  }
  .r-side {
    .content {
      padding: 40px 40px 24px;
    }
  }
  .table {
    thead,
    tbody {
      tr {
        .field-hide {
          display: table-cell;
        }
      }
    }
  }
}
